%before-after-shared {
  content: '';
  position: absolute;
  left: 50%;
  width: 50%;
  height: 2px;
  background: #fff;
  transform: translateX(-50%);
}

.toggle-modal {
  position: relative;
  z-index: 1030;

  .menu-icon {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: #333;
    border-radius: 50%;

    &:before {
      @extend %before-after-shared;
      top: 10px;
    }

    &:after {
      @extend %before-after-shared;
      bottom: 10px;
    }
  }

  &.active {
    position: fixed;
    right: 20px;
    z-index: 1030;

    .menu-icon {
      &:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
