*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scroll {
  overflow: hidden;
}

.layout-offset {
  &-x {
    padding-left: 0px;
    padding-right: 0px;
  }

  padding: 20px;

  @media (min-width: 768px) {
    padding: 40px;

    &-x {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
