// Category btn
%category-shared {
  margin-top: 0.625rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.category-btn {
  @extend %category-shared;
  background: #fff;
  border: 2px solid #f8f8f8;
  color: #ababab;

  &:focus,
  &:hover,
  &:active {
    color: #333;
    background: #f8f8f8;
  }

  &:not(:nth-last-child(1)) {
    margin-right: 0.5rem;
  }
}

.card-category {
  @extend %category-shared;
  color: #333;
  border-radius: 6px;

  &.light {
    background: #fff;
  }

  &.gray {
    background: #f8f8f8;
  }
}

.btn-gradient {
  opacity: 0.9;
  background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  color: #fff;
  transition: opacity linear 0.15s;

  &:hover {
    opacity: 1;
  }
}
