.main-card {
  max-width: 680px;
  background-color: #f8f8f8;
}

.modal-card {
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .message {
    background-color: #f8f8f8;
  }
}

// Btn
.card-category {
  color: #333;
  background: #fff;

  border-radius: 6px;
  border-width: 0;

  &:hover {
    background: #fff;
  }
}
