// Variables
@import './assets/scss/variables.scss';

// Bootstrap partials
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/vendor/rfs';

@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/forms';

// Helper classes
@import './assets/scss/helpers';

// Base stuff
@import './assets/scss/base';

// Nav
.nav {
  .nav-right {
    .nav-btn {
      position: relative;
      width: 28px;
      height: 28px;

      background: #333333;
      border-radius: 50%;

      .line-wrapper {
        position: absolute;
        width: 28px;
        height: 8px;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        .nav-line {
          position: absolute;
          width: 14px;
          height: 2px;

          background: #ffffff;
          border-radius: 2px;
        }

        .line-2 {
          top: 6px;
        }
      }
    }
  }
}

// Category btn
.category-btn {
  max-width: 120px;
  padding: 0.3rem 0.75rem;
  margin-top: 0.5rem;

  line-height: 0.8rem;
  font-size: 0.6rem;
  font-weight: 500;

  background: #fff;
  border: 2px solid #f8f8f8;
  border-radius: 6px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ababab;

  &:focus,
  &:hover,
  &:active {
    color: #333;
    background: #f8f8f8;
  }

  &:not(:nth-last-child(1)) {
    margin-right: 0.5rem;
  }
}

// Btn
.btn {
  opacity: 0.9;
  background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  color: #fff;
  transition: opacity linear 0.15s;

  &:hover {
    opacity: 1;
  }
}

// Card
.card {
  max-width: 680px;

  .message {
    position: relative;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: white;

    .message-inner {
      position: absolute;

      width: 20px;
      height: 20px;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}
